.chat-read{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
    background-color: #ffffff
}

.chat-unread{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
    border: 2px solid #1e1a15
}

.chat__details{
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit
}

/* a effects the Link component text dec takes away the lines color inherits from prev */

.chat__details > p {
    color: black;
}

.chat__image{
    margin-right: 20px
}

.chat__timestamp{
    color: lightgrey;
}

#chat__noMessage{
    color: lightgray;
}

.handshake-emoji {
    font-size: 1.5em; /* Adjust the font size to your desired value */
}

.chat__image{
    margin-right: 20px
}  


/* flex: 1; is to give the container 
to take up as much room as possible within the space between
before applying flex one the area it takes up is equal to space between
after it is applied it takes up as much of the space between as possible 
*/